// Fichier de variables SASS
// Avantage si on veut changer les couleurs ou les images on le fait que dans un fichier
// Cela peut servir comme petit fichier de config pour une customisation rapide
// Allez amusez-vous à modifier les valeurs :)

$grey: #b7b7b7;
$blue: #7171ff;
$red: #f54747;
$image: url('../images/cards.png');
$size_indicator: 25px;
$good_color:#298429;
$btn_color:#90c354;
$bad_color:$red;
$orange: rgba(255, 166, 0, 0.63);
$font-colot-btn: white;